# Node modules
node_modules/

# Cypress output
cypress/screenshots/
cypress/videos/

# Resultados y evidencias
evidencias/
resultados/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs y temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# Archivos de entorno (si usas variables)
.env
.env.local
.env.*.local
